:root{
    --primary-color : #5fcf80;
    --primary-color-hover: #47b969;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}

html {
    scroll-behavior: smooth;
}

ul li{
    list-style: none;
}

ul li a{
    text-decoration: none;
}

.section-title{
    padding-bottom: 2rem;
}

.section-title h6{
    text-transform: uppercase;
    color: rgb(170, 168, 168);
    position: relative;
    display: inline-block;
}

.section-title h4{
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 700;
}


.section-title h6::after {
    content: '';
    display: inline-block;
    width: 8rem;
    height: 1px;
    background-color: var(--primary-color);
    position: absolute;
    top: 50%;
    left: 120%
}


.section-title span{
    color: var(--primary-color);
}

.section-padding{
    padding: 5rem 0;
}

.section-padding-top{
    padding-top: 5rem;
}

.section-padding-bottom{
    padding-bottom: 5rem;
}


.italic{
    font-style: italic;
}


.standard-btn{
    color: white!important;
    background-color: var(--primary-color)!important;
    border-radius: 2rem!important;
    display: inline-block;
    padding: .5rem 1.5rem!important; 
    font-weight: 400;
    border: none;
    /* outline: none; */
}

.standard-btn:hover{
    color: white!important;
    background-color: var(--primary-color-hover)!important;
}

.jumbotron{
    margin-bottom: 0!important;
}


/* header */

.navbar{
    padding-left: 0!important;
    padding-right: 0!important;
}
.navbar-brand{
    color: var(--primary-color)!important;
    font-size: 1.8rem;
    font-weight: 700;
    padding-top: 0;
}

.nav-link{
    margin-left: .3rem;
    font-weight: 600;
    color: rgb(90, 90, 90)!important;
}


.nav-link:hover, .nav-link.active{
    color: var(--primary-color)!important;
}

.last-nav-link{
    color: white!important;
    background-color: var(--primary-color)!important;
    width: 8rem;
    border-radius: 2rem;
    text-align: center;
    display: inline-block!important;
    padding-top: .5rem !important;
    padding-bottom: .5rem!important;
    border: 1px solid white;
}

.last-nav-link:hover{
    color: white!important;
    background-color: var(--primary-color-hover)!important;
}

.dropdown-item.active, .dropdown-item:hover{
    background-color: white;
    color: var(--primary-color);
}

/* landing section */



#landing {
    display: flex;
    background-image: url(../img/landing2.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 60vh;
    position: relative;
    color: white;
    align-items: center;
    z-index: -999999999;
}

.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.3);
}

#landing .container{
    position: relative;
}

#landing h1{
    font-weight: 900;
    text-shadow: 2px 2px 4px black;
}

#landing h3{
    text-shadow: 2px 2px 4px black;
}


/* about section */

#about .fa-check-circle{
    color: var(--primary-color);
    margin: .5rem;
}

/* counter section */

#counter h1{
    color: var(--primary-color);
    font-weight: 700;
}

/* why-us section */

.why-us-frame{
    /* box-shadow: 0 0 1px gray; */
    padding: 0rem 2rem .5rem;
    margin-bottom: 1.5rem;
    border-top: 1px solid var(--primary-color);
}

.why-us-frame h5{
    position: relative;
    top: -1rem;
    /* left: -1rem; */
    text-align: center;
    left: 50%;
    font-size: 1rem;
    /* top: 0; */
    /* width: 100%; */
    /* height: 100%; */
    transform: translate(-50%);

    display: inline-block;
    background-color: white;
    color: black;
    padding: 0 1rem;
}

.why-us-frame-img{
    width: 5rem;
    height: 5rem;
    margin: 0 auto 2rem;
    display: block;
}

.why-us-frame-icon{
    font-size: 4rem;
    display: block;
    margin-bottom: 2rem;
    color: var(--primary-color);
    text-align: center;
}


.section-frame-content{
    position: relative;
}

/* 
.border{
    box-shadow: 0 0 1px gray;
    padding: 1.5rem;
}

.why-us-icon{
    font-size: 1.6rem;
    color: gray;
    margin: 1rem 0;
}

#why-us .col-md-8 .fas{
    color: var(--primary-color);
    background-color: rgb(236, 235, 235);
    padding: .8rem;
    font-size: 1.6rem;
    border-radius: 50%;
    margin-bottom: 1rem;
}

#why-us .col-lg-4, #why-us .col-lg-8, #why-us .col-md-4{
    margin-bottom: 1rem; 
} */


/* courses section */

#courses .course-price{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.course-price p{
    margin-bottom: 0!important;
}

.course-price span{
    color: var(--primary-color);
}

.course-frame img{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    box-shadow: 0 0 5px gray;
}

.course-frame img:hover{
    box-shadow: 0 0 20px black;

}

.course-frame{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.course-left{
    display: flex;
    align-items: center;
    justify-content: center;
}

.course-right{
    display: flex;
    justify-content: center;
    align-items: center;
}

.course-frame p{
    margin-bottom: 0!important;
}

#courses h5{
    margin: 1rem 0;
}

#courses .col-lg-4, #courses .col-md-6{
    margin-bottom: 1rem;
}

.course-card, .course-frame img{
    transition: all .4s ease-in-out;
}

.course-card:hover{
    box-shadow: 0 0 3px gray;
}


.course-card:hover .course-frame img{
    box-shadow: 0 0 20px black;

}



/* trainers section */

.trainer-social{
    display: flex;
    justify-content: center;
}

.trainer-social .fab{
    color: gray;
    padding: .4rem;
    font-size: 1.4rem;
    transition: all .2s ease-in-out;
}

.trainer-social .fab:hover{
    color: var(--primary-color)
}

#trainers .card p{
    font-style: italic;
    color: gray;
}

#trainers .col-md-4{
    margin-bottom: 1rem;
}

/* footer-links sewction */

#footer-links i{
    color: var(--primary-color);
}

#footer-links a{
    color: gray;
    padding: .3rem 0;
    display: inline-block;
    font-size: .8rem;
}

#footer-links a:hover{
    text-decoration: none;
    color: var(--primary-color);

}

#footer-links p{
    color: gray;
    font-size: .8rem;
}

#footer-links input[type=email]{
    padding: .4rem .8rem;
    outline: none;
    border: 1px solid lightgray;
    border-radius: 1.5rem;
}

.iso-img-div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.iso-img-div img{
    width: 75%
}
 


/* footer section */

footer span{
    color: var(--primary-color);
}

.footer-social{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-social div{
    width: 2.5rem;
    height: 2.5rem;
    background-color: var(--primary-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: .7rem;

}

.footer-social div:hover{
    background-color: var(--primary-color-hover);
}


footer i{
    color: white;
    font-size: 1.1rem;
}


.footer-left{
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.jumbotron-footer{
    padding: .5rem 0;
    background-color: #e9ecef;
}

footer p, footer ul{
    margin-bottom: 0!important;
}


/* about page */

/* caursel */

.carousel-item img{
    width: 5rem;
    height: 5rem;
    border-radius: .3rem;
    position: absolute;
    left: -2.5rem;
    border: 1px solid var(--primary-color);
}

.coursel-left-line{
    height: 5rem;
    width: 1px;
    background-color: var(--primary-color);
    position: absolute;
    left: 0;
    top: 0;
}

.outer-coursel-div{
    padding: 1rem 1rem 1rem 4rem;
}


.inner-coursel-div{
    border-top: 1px solid var(--primary-color);
    padding: 3.5rem;
    position: relative;
}

.carousel-inner .fas{
    color: var(--primary-color);
    padding: 0 .2rem;
}


/* Event page */


#events .card h6{
    font-style: italic;
    color: gray;
    font-weight: 400;
}

#events .card{
    position: relative;
    display: flex;
    align-items: center;
    border: none;
}

.event-img-frame{
    overflow: hidden;
}

#events .card-body{
    position: relative;
    width: 90%!important;
    background-color: white;
    top: -3rem;
    padding: 2rem;
    box-shadow: 0 0 5px lightgray;
    border-top: 4px solid white;
}

.event-img{
    transition: all .4s ease-in-out;
}

.card-title-event, .card-body-event{
    transition: all .2s ease-in-out;
}

#events .card:hover .event-img{
    transform: scale(1.1,1.1);
}

#events .card:hover .card-body-event{
    border-top: 4px solid var(--primary-color);
    box-shadow: 0 0 10px gray;
}

#events .card:hover .card-title-event{
    color: var(--primary-color);
}


/* pricing section */

#prcining .card-body p{
    font-size: .9rem;
}

#prcining .card-body span{
    color: var(--primary-color);
    font-size: 2rem;
}

.card-prining{
    transition: all .2s ease-in-out;
    overflow: hidden;
    margin-bottom: 1rem;
}

.card-prining:hover{
    box-shadow: 0 0 10px gray;
}


.ultimate{
    position: relative;
}

.ultimate-text{
    position: absolute;
    display: inline-block;
    padding: .2rem 2rem;
    color: white;
    background-color: var(--primary-color);
    transform: rotate(45deg);
    bottom: -.5rem;
    right: -2rem;
   
}


/* contact page*/

.contact-address{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.contact-address p{
    margin-bottom: 0;
}

.contact-address-icon{
    padding: .5rem;
    width: 2.2rem;
    height: 2.2rem;
    margin-right: 1rem;
    background-color: rgb(233, 231, 231);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .2s ease-in-out;
}

.contact-address i{
    font-size: 1rem;
    color: white;
}

.contact-address:hover .contact-address-icon{
    background-color: var(--primary-color);
}

.contact-address form input:focus{
    outline: none!important;
}


@media(min-width:786px){
    
    .footer-social{
        justify-content: flex-end;
    }
    
    .footer-left{
        text-align: left;
        margin-bottom: 0;
    }
    
    .footer-left{
        justify-content: flex-start;
    }

    

}

























